# Pandas

importe a biblioteca pandas para trabalharmos com IA

In [1]:
import pandas as pd

In [2]:
# Criando uma Série a partir de uma lista
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

# Criando uma Série com índices personalizados
index = ['a', 'b', 'c', 'd']
series = pd.Series(data, index=index)
print(series)

0    10
1    20
2    30
3    40
dtype: int64
a    10
b    20
c    30
d    40
dtype: int64

In [3]:
# Criando um DataFrame a partir de um dicionário
data = {'Coluna1': [1, 2, 3], 'Coluna2': ['A', 'B', 'C']}
df = pd.DataFrame(data)
print(df)

   Coluna1 Coluna2
0        1       A
1        2       B
2        3       C

In [5]:
df = pd.read_csv('../database/meu_arquivo.csv')
print(df)

   id   nome  idade          cidade
0   1   João     30       São Paulo
1   2  Maria     25  Rio de Janeiro
2   3  Pedro     35  Belo Horizonte
3   4    Ana     28        Salvador

In [7]:
df = pd.read_json('../database/meu_arquivo.json')
print(df)

   id   nome  idade          cidade
0   1   João     30       São Paulo
1   2  Maria     25  Rio de Janeiro
2   3  Pedro     35  Belo Horizonte
3   4    Ana     28        Salvador

In [9]:
# Lendo um arquivo CSV com dados possivelmente sujos
df = pd.read_csv('../database/dados_sujos.csv')

# Verificando os tipos de dados
print(df.dtypes)

# Convertendo a coluna 'Idade' para tipo numérico
df['idade'] = pd.to_numeric(df['idade'], errors='coerce')

# Removendo linhas com valores ausentes na coluna 'Idade'
df.dropna(subset=['idade'], inplace=True)

# Removendo duplicados
df.drop_duplicates(inplace=True)

# Salvando o DataFrame limpo
df.to_csv('../database/dados_limpos.csv', index=False)

id         int64
nome      object
idade     object
cidade    object
dtype: object

In [10]:
import pandas as pd

# Exemplo de DataFrame com valores nulos
dados = {
    'Nome': ['João', 'Maria', 'Pedro', None],
    'Idade': [28, 35, None, 40],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Curitiba', None]
}

df = pd.DataFrame(dados)

# Remover linhas que contenham valores nulos
df_limpo = df.dropna()

print(df_limpo)

    Nome  Idade          Cidade
0   João   28.0       São Paulo
1  Maria   35.0  Rio de Janeiro

In [12]:
# Preencher valores nulos na coluna 'Idade' com a média da idade
df['Idade'].fillna(df['Idade'].mean(), inplace=True)

print(df)

    Nome      Idade          Cidade
0   João  28.000000       São Paulo
1  Maria  35.000000  Rio de Janeiro
2  Pedro  34.333333        Curitiba
3   None  40.000000            None

/tmp/ipykernel_15806/455912156.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Idade'].fillna(df['Idade'].mean(), inplace=True)